body{
  background-color: #EAF6F6;
}

h1{
  color: #406882;
}

h3{
  color: #406882;
}

hr{
  border-color: grey;
  width: 5%;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
}
